@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #111111;
    --text-color: #ffffff;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
}

@layer components {
  .glass-panel {
    @apply backdrop-blur-md bg-white/5 border border-white/10;
  }

  .food-gradient {
    background: linear-gradient(to right, #C67C4E, #FF5A36);
    -webkit-background-clip: text;
    color: transparent;
  }
}
